.pages-group{
    margin-left: auto;
    margin-right: auto;
    min-width: 10%;
    max-width: 80%;
    margin-top: 150px;
}

.page{
    padding: 5px;
}

.title{
    text-align: center;
    padding: 10px;
}