.pageSplit {
    margin-bottom: 50px;
    /* height: 100px; */
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5pt;
}

.pageSplitText {
    text-overflow: ellipsis;
    /* overflow: scroll; */
    /* height: 100px; */
}